@tailwind base;
@tailwind components;
@tailwind utilities;

.mainBody,.footerMain, .headerMain{
    background-color:#fefdfc ;
}

.logo{
    width: 50px !important;
}

.mainLogo{
    display: flex !important;
}

.logoName{
    color: rgb(222, 72, 58);
}

.signupForm, .loginForm, .postCard {
    background-color:#fffaf4 ;

}